---
layout: default
title: Home
---

{% for post in paginator.posts %}
<h3><a href="{{ post.url }}">{{ post.title }}</a><sub> {{ post.date | date: "%Y-%m-%d" }}</sub></h3>
{{ post.excerpt | markdownify | strip_newlines }}
<hr>
{% endfor %}
<h5>
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/"><< 上一页</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}/"><< 上一页</a>
    {% endif %}
  {% else %}
    <span><< 上一页</span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}/">下一页 >></a>
  {% else %}
    <span>下一页 >></span>
  {% endif %}
</h5>
