/* theme css */
*{margin:0;padding:0}

html,body {
    width: 100%;
    width: 100vw;
    height: 100%;
}

body {
    display: flex;
    min-height: 100%;
    color: #525252;
    background-color: #fff;
    font-size: 13px;
    line-height: 1.6;
    font-weight: 300;
    font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Helvetica Neue,STHeiti,Microsoft Yahei,Tahoma,Simsun,sans-serif;
    flex-direction: column;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

.content {
    padding: 55px 0 15px;
    flex: 1;
}

header {
    width: 100%;
    box-shadow: 0 0 8px rgba(50, 50, 93, .25);
    position: fixed;
    background: #fff;
    z-index: 20;
}

header .left {
    padding: 0 10px;
    float: left;
    font-size: 1.5rem;
}

header .right {
    padding: 0 10px;
    float: right;
    font-size: 1rem;
}

header * {
    color: #222 !important;
    line-height: 3rem;
}

footer {
    padding: 8px 10px 10px;
    border-top: 1.3px solid #eee;
    text-align: right;
    color: #757575;
    font-size: .88rem;
}

blockquote,dl,hr,ol,p,pre,table,ul {
    margin: .2em 0 1em;
}

.title,table,code,h1,h2,h3,h4,h5,h6,p,pre {
    font-weight: 300;
}

p,ol,ul {
    font-size: .98rem;
    line-height: 1.6;
    word-wrap: break-word;
}

h1{font-size:1.78rem}
h2{font-size:1.6rem}
h3{font-size:1.4rem}
h4{font-size:1.2rem}
h5{font-size:1rem}
h6{font-size:.8rem}

h1,h2,h3,h4,h5,h6 {
    margin: .2em 0 .2em;
    line-height: 1.6;
    word-wrap: break-word;
}

h1,h2 {
    margin: .4em 0 .3em;
    color: #222;
}

h3,h4 {
    color: #333;
}

b,strong {
    color: #555;
}

table {
    max-width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: .85rem;
    line-height: 1.6;
    box-shadow: 0 8px 15px rgba(50, 50, 93, .1);
}

table td,table th {
    padding: 3px 1.5px;
    border: 1px solid #ddd;
}

table thead th {
    width: 40px;
    background-color: #fafafa;
}

table tr {
    transition: all .8s;
}

table tr:hover {
    background-color: #f0f0f0;
    transition: all .2s;
}

img {
    display: inline;
    max-width: 100%;
    max-height: 70vh;
    border-style: none;
    border-radius: 3px;
}

a {
    color: #07b57a;
    vertical-align: baseline;
    text-decoration: none;
    transition: color .8s;
}

a:hover {
    color: #035338;
    transition: color .2s;
}

code {
    margin: 0 1px;
    border-radius: 3px;
}

code,samp {
    background-color: #f2f2f2;
    font-size: 86%;
    padding: .2em .3em .1em;
}

code,pre,samp {
    font-family: Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

pre {
    -webkit-overflow-scrolling: touch;
    background-color: #f2f2f2;
    line-height: 1.5;
    overflow: auto;
    padding: 0.93rem;
    border-radius: 3px;
    white-space: pre;
    word-wrap: normal !important;
}

pre,pre code {
    font-size: .87rem;
}

pre code {
    padding: 0;
}

ol,ul {
    padding-left: 35px;
}

ol ol,ul ol {
    list-style-type: lower-roman;
}

blockquote {
    padding: 0 0 0 8px;
    border-left: .2em solid #ddd;
    word-wrap: break-word;
}

blockquote cite {
    color: #bfbfbf;
    line-height: 20px;
}

blockquote cite:before {
    content: '\2014 \00A0';
}

blockquote p {
    font: .95rem;
    line-height: 1.6;
}

hr {
    overflow: visible;
    box-sizing: content-box;
    height: 1px;
    border: 0 none;
    background-color: #eee;
}

small {
    font-size: 80%;
}

sub,sup {
    position: relative;
    vertical-align: baseline;
    font-size: 60%;
    line-height: 0;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

@media (min-width:500px) {
    table {
        min-width: 75%;
    }

    .content {
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width:500px) {
    table {
        margin: 0 auto 1.1em;
        width: 100%;
    }

    .content {
        margin: 0 1em;
    }
}

mark {
    background: transparent;
    color: #ff9800;
}

.num:before {
    content: '# ';
    color: #07b57a;
    font-weight: 300;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* .post a {
    color: #555;
} */

.title {
    margin: 0 0 20px !important;
    padding: 0;
    text-align: center;
}

#comment,footer {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#comment {
    padding: 45px 0 0;
}

/* Headroom */
.animated {
  -webkit-animation-duration: 0.5s;
     -moz-animation-duration: 0.5s;
       -o-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  will-change: transform, opacity;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}

/* top icon */
#to-top{width:40px;height:40px;line-height:40px;position:fixed;background:rgba(39,174,96,.3);color:#fff;text-align:center;z-index:10;display:none;border-radius:6px}
@font-face{font-family:icomoon;src:url('icon-top.woff') format('woff')}
.icon-top:before{content:'\e900';text-transform:none;font-variant:normal;font-family:icomoon!important;speak:none}